@import "./partials/themeColors.scss";

* {
    box-sizing: border-box;
}

.content {
    height: 100%;

    text-align: center;

    background: $backgroundColor;
}

.menu {
    overflow: hidden;

    margin: 0;
    margin-bottom: 5%;
    padding: 0;

    list-style-type: none;

    background-color: $mainColor;
}

.menu__btn {
    float: left;
}

.menu__link {
    display: block;

    padding: 14px 16px;

    text-align: center;
    text-decoration: none;

    color: $menuButtonsColor;
}

.menu_link:hover {
    background-color: $onMainColorHover;
}

.hello-world-page {
    width: 100%;
    height: 100%;
}

.form {
    width: 20%;
    height: 25%;
}
