@import "./partials/themeColors.scss";

.content {
    height: 100%;

    text-align: center;

    background: $backgroundColor;
}

.menu {
    overflow: hidden;

    margin: 0;
    padding: 0;

    list-style-type: none;

    background-color: $mainColor;
}

.menu__btn {
    float: left;
}

.menu_link {
    display: block;

    padding: 14px 16px;

    text-align: center;
    text-decoration: none;

    color: $menuButtonsColor;
}

.menu_link:hover {
    background-color: $onMainColorHover;
}
