@import "../stylesheets/partials/themeColors.scss";

body {
    text-align: center;

    background: $backgroundColor;
}

.container {
    margin-top: 5%;
}

.menu {
    overflow: hidden;

    margin: 0;
    padding: 0;

    list-style-type: none;

    background-color: $mainColor;
}

.menu__btn {
    float: left;
}

.menu__btn a {
    display: block;

    padding: 14px 16px;

    text-align: center;
    text-decoration: none;

    color: white;
}

.menu__btn a:hover {
    background-color: $onMainColorHover;
}
