@import "../../../stylesheets/partials/themeColors.scss";

.login_form {
    position: fixed;

    top: 50%;
    left: 50%;

    box-sizing: border-box;

    width: 20%;
    height: 25%;

    transform: translate(-50%, -50%);

    border-style: round($number: 30);

    background-color: $deepBackgroundLevelColor;

    input {
        width: 50%;
    }

    button {

        width: 50%;

        margin: 8px 0;
        padding: 14px 20px;

        border: none;

        cursor: pointer;

        color: white;
        background-color: $mainColor;
    }

    .login_form__login_imput {
        margin-top: 10%;
    }
}
