@import "../../../stylesheets/partials/themeColors.scss";

.container {
    margin-top: 5%;
}

.form {
    position: fixed;

    top: 50%;
    left: 50%;

    box-sizing: border-box;

    width: 20%;
    height: 25%;

    transform: translate(-50%, -50%);

    border-style: round($number: 30);

    background-color: $deepBackgroundLevelColor;
}

.form__login-imput,
.form__password-imput {
    width: 50%;
    margin-top: 15%;
}

.form__login-btn {

    width: 50%;

    margin: 8px 0;
    padding: 14px 20px;

    border: none;

    cursor: pointer;

    color: white;
    background-color: $mainColor;
}

.login_form__login-imput {
    margin-top: 10%;
}

