body {
    text-align: center;

    background: lighten($color: #dd7474, $amount: 30);
}

.title-bar {
    padding-top: 2%;
    padding-bottom: 2%;

    border-style: round($number: 40);
    background: lighten($color: #51ff9a, $amount: 30);
}

input[type="submit"] {
    margin: 8px 0;
    padding: 10px 14px;
    border: none;

    cursor: pointer;

    color: white;
    border-radius: 4px;
    background-color: lighten($color: #07ff6e, $amount: 30);
}

.container {
    margin-top: 5%;
}

ul {
    overflow: hidden;

    margin: 0;
    padding: 0;

    list-style-type: none;

    background-color: rgb(53, 99, 70);
}

li {
    float: left;
}

li a {
    display: block;

    padding: 14px 16px;

    text-align: center;

    text-decoration: none;

    color: white;
}

li a:hover {
    background-color: rgb(31, 88, 65);
}
