$mainColor: rgb(255, 255, 255);
$onMainColorHover:  rgb(192, 192, 189);
$backgroundColor: lighten($color: #dbdbd9, $amount: 10);
$deepBackgroundLevelColor:lighten($color: #7f807b, $amount: 20);
$menuButtonsColor:rgb(194, 194, 194);
